APScheduler
einops
fastapi[standard]
python-multipart
fusepy
huggingface_hub
kornia
loguru
numpy
opencv_contrib_python
opencv_python
opencv_python_headless
oss2
Pillow
pydantic
redis
Requests
starlette
aiohttp
pillow-avif-plugin
timm
transformers==4.57.6
ultralytics
urllib3
uvicorn
python-logging-loki
volcengine_python_sdk[standard]
volcengine
Wand
toml
websockets
bitsandbytes
accelerate
python-multipart
aliyun-python-sdk-viapiutils
viapi-utils
alibabacloud_imageseg20191230
alibabacloud_tea_openapi
netifaces
ufile
ucloud-sdk-python3
tencentcloud-sdk-python
diffusers==0.38.0